# Python artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/
.env/

# Tooling caches
.pytest_cache/
.mypy_cache/
.ruff_cache/
.cache/

# Jupyter
.ipynb_checkpoints/

# OS/editor files
.DS_Store
.idea/
.vscode/

# Outputs
outputs/

# Tools
tools/picard.jar
tools/assets/results_dashboard/config.json

# Data (keep folder structure via .gitkeep and README files)
data/**
!data/
!data/**/
!data/**/README*
!data/raw/DNase-seq/celltype_dnase_map.json
!data/raw/timing
